/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-bg-color: #151515;
  --secundary-bg-color: #030303;
  --closed-bg-color: #B62727;
  --panel-border-color: #27313F;
  --min-bg-color: #375A9F;
}

/*Text Colors*/
:root {
  --primary-text-color: #FCFBFB;
  --secundary-text-color: #EAE5E5;
}

/*Font Primary*/
@font-face {
  font-family: Russo One;
  src: url('@/assets/fonts/Russo_One.ttf');
  font-style: normal;
}

@font-face {
  font-family: Roboto Regular;
  src: url('@/assets/fonts/Roboto_Regular.ttf');
  font-style: normal;
}